@model BCore.Models.ViewModels.Blog.WhatsThinkViewModel

<span id="commentAnchor" class="anchor"></span>
<form id="commentForm" asp-action="CommentSubmit" asp-controller="Post" method="post">    
    <div class="form-group">
        <textarea id="commentInput" asp-for="Text" class="form-control" rows="1">@Model.Text</textarea>
    </div>
    <div class="btn-group">
        <button id="commentSubmitButton" type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> submit
        </button>
    </div>    
</form>