@using Microsoft.AspNetCore.Identity
@using BCore.Dal.Ef;

@model BCore.Models.ViewModels.PostViewModel
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">

        @await Html.PartialAsync("_StatusLine", Model)
        
        @for (var ii = 0; ii < Model.Parts.Count(); ii++)
        {           
            <div class="margin-top">
                @if (Model.Parts[ii].PartType.Name == "text" && !String.IsNullOrWhiteSpace(Model.Parts[ii].Value))
                {
                    <div class="wrap">                       
                        @if (ii == 0)
                        {
                            <h2><text hashing-text="@Model.Parts[ii].Value"></text></h2>
                        }
                        else
                        {
                            <div><text hashing-text="@Model.Parts[ii].Value"></text></div>
                        }
                    </div>
                }

                @if (Model.Parts[ii].PartType.Name == "image" && !String.IsNullOrWhiteSpace(Model.Parts[ii].Value))
                {
                    <img class="img-responsive" src="@Model.Parts[ii].Value">
                }
            </div>
        }

        @await Html.PartialAsync("_Comments", Model)
    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>

@if (SignInManager.IsSignedIn(User))
{
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function() {
                new Post.Comment();
            });
        </script>
    }
}