@using Microsoft.AspNetCore.Identity
@using BCore.Dal.Ef;

@model BCore.Models.ViewModels.PostViewModel
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">

        @{
            await Html.RenderPartialAsync("_StatusLine", Model);
        }

        @for (var ii = 0; ii < Model.Parts.Count(); ii++)
        {
            <div class="margin-top">
                @if (!String.IsNullOrWhiteSpace(Model.Parts[ii].Text))
                {
                    <div class="wrap">
                        @if (ii == 0)
                        {                           
                            <h4><text hashing-text="@Model.Parts[ii].Text"></text></h4>
                        }
                        else
                        {
                            <div><text hashing-text="@Model.Parts[ii].Text"></text></div>
                        }
                    </div>
                }

                @if (!String.IsNullOrWhiteSpace(Model.Parts[ii].ImageUrl))
                {
                    <img class="img-responsive" src="@Model.Parts[ii].ImageUrl">
                }
            </div>
        }

        @{
            await Html.RenderPartialAsync("_Comments", Model);
        }

    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>

@if (SignInManager.IsSignedIn(User))
{
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function() {
                new Post.Comment();
            });
        </script>
    }
}