@model BCore.Models.ViewModels.Blog.PostViewModel

@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BCore.Models.Extensions
@using Microsoft.AspNetCore.Identity
@using BCore.Dal.Ef;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">
        @await Html.PartialAsync("_Post", Model)
    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">
        @if (Model.Comment != null)
        {
            <div class="margin-top">
                @await Html.PartialAsync("_WhatsThink", Model.Comment, nameof(Model.Comment))

                <input asp-for="@Model.Id" type="hidden" />
            </div>
        }        
    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="margin-top">
            @await Html.PartialAsync("_Comments", Model.Comments, nameof(Model))
        </div>
    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>

@if (SignInManager.IsSignedIn(User))
{
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function() {
                new Post.Comment();
            });
        </script>
    }
}



