@model BCore.Models.ViewModels.Blog.PostStatusLineViewModel

@using Microsoft.AspNetCore.Identity
@using BCore.Dal.Ef;
@using BCore.Models;

7<p>
    <div class="mymedia">        
        @*<span class="mymedia-figure" gravatar-email="@Model.User.Email" image-size="64" width="64"></span>*@

        <div class="mymedia-body">
            <div class="row">
                <div class="col-xs-9 block">
                    @*<div class="user-name">@Model.User.UserName</div>*@
                    <div class="mymedia-status">
                        @*@Model.PostDateTime.ToString("dd.MM.yyyy hh:mm")*@
                        &nbsp; <a href="/Post/Index?id=xxxcommentAnchor"><i class="glyphicon glyphicon-comment"></i> xxx </a>
                        &nbsp;
                        @*@foreach (var postHash in Model.PostHashes)
                        {
                            <a href="#"><span class="label label-info"> xxx </span></a>
                        }*@
                    </div>
                </div>

                @if (Model.IsEditable)
                {
                    <div class="col-xs-1 col-xs-push-2 block">
                        <div class="dropdown pull-right">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/Blog/DeletePost?id=xxx">delete</a></li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</p>