@model BCore.Models.ViewModels.PostViewModel

@using Microsoft.AspNetCore.Identity
@using BCore.Dal.Ef;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<p>
    <i class="glyphicon glyphicon-user"></i> by <a href="#"> @UserManager.FindByIdAsync(Model.UserId).Result.UserName</a>
    &nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i> @Model.DateTime.ToString("dd.MM.yyyy hh:mm")
    &nbsp;&nbsp;<i class="glyphicon glyphicon-comment"></i> <a href="#">3 Comments</a>
    &nbsp;&nbsp;<i class="glyphicon glyphicon-heart"></i> <a href="#">39 Stars</a>
    &nbsp;&nbsp;<i class="glyphicon glyphicon-tags"></i> Tags:
    <a href="#"><span class="label label-info">#snipp</span></a>
    <a href="#"><span class="label label-info">#bootstrap</span></a>
    <a href="#"><span class="label label-info">#ui</span></a>
    <a href="#"><span class="label label-info">#growth</span></a>
</p>